<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style/skincare.css" />
    <link rel="stylesheet" href="../style/navbar.css" />
    <link rel="stylesheet" href="../style/footer.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="main">
      <div class="one">
        <div class="productsname">
          <div>Products</div>
          <div><b>Bodycare</b></div>
          <div>Anti Cellulite</div>
          <div>Bath & Shower</div>
          <div>Deodorants</div>
          <div>Hands & Feet</div>
          <div>Insect Repellent</div>
          <div>Lotions & Butters</div>
          <div>Moisturisers</div>
          <div>Oils</div>
          <div>Powders</div>
          <div>Scrubs</div>
          <div>Soaps</div>
          <div>Try Me Kits & Travel Sizes</div>
        </div>
      </div>
      <div class="two">
        <div class="insidetwo">
          <img
            src="https://www.lovelula.com/spree/taxons/headers/7233/original/bodycare.jpg?1547742220"
            alt=""
          />
          <div class="linecontainer">
            <div class="line"></div>
            <div class="linetext">Natural and Organic Body Care Products</div>
            <div class="line"></div>
          </div>
          <br />
          <div class="details">
            Protect, nourish & strengthen. Pure, naturally derived ingredients
            work in harmony with your body’s own processes. Choose products
            crafted with passion and wisdom and feel your way to a more
            beautiful future.
          </div>
          <br />
          <div class="dotted"></div>
        </div>
        <div id="datacollection"></div>
      </div>
    </div>
  </body>
</html>

<script type="module">
  import footer from "../js/footer.js";

  let div = document.createElement("div");

  div.innerHTML = footer();
  document.body.append(div);
</script>

<script type="module">
  import navbar from "../js/navbar.js";

  let div = document.createElement("div");

  div.innerHTML = navbar();
  document.body.prepend(div);
</script>

<script>
  async function create() {
    let response = await fetch("http://localhost:2345/skincares");

    let data = await response.json();
    console.log("data:", data);

    let { index } = data;

    index.forEach(({ image, title, description, price, button }) => {
      let divs = document.getElementById("datacollection");

      let div = document.createElement("div");

      let img = document.createElement("img");

      let title_p = document.createElement("h2");

      let desc = document.createElement("p");

      let price_p = document.createElement("p");

      let btn = document.createElement("button");

      btn.innerText = button;

      img.src = image;

      title_p.innerText = title;
      desc.innerText = description;
      price_p.innerText = price;
      // console.log('title:', title)
      // console.log('image:', image)

      div.append(img, title_p, desc, price_p, btn);
      divs.append(div);
    });
  }
  create();
</script>
