<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style/brands.css" />
    <link rel="stylesheet" href="../style/navbar.css" />
    <link rel="stylesheet" href="../style/footer.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="main">
      <div class="upper">
        <div class="line"></div>
        <div class="first">BRAND</div>
        <div class="line"></div>
      </div>
      <div class="letter">
        <div>A</div>
        <div>B</div>
        <div>C</div>
        <div>D</div>
        <div>E</div>
        <div>F</div>
        <div>G</div>
        <div>H</div>
        <div>I</div>
        <div>J</div>
        <div>K</div>
        <div>L</div>
        <div>M</div>
        <div>N</div>
        <div>O</div>
        <div>P</div>
        <div>Q</div>
        <div>R</div>
        <div>S</div>
        <div>T</div>
        <div>U</div>
        <div>V</div>
        <div>W</div>
        <div>X</div>
        <div>Y</div>
        <div>Z</div>
      </div>
      <div class="a">
        <div class="startletters">A</div>
        <div class="name">Alchemy Oils</div>
        <div class="name">Alteya Organics</div>
        <div class="name">ananné</div>
        <div class="name">Antipodes</div>
        <div class="name">Apple & Bears</div>
        <div class="name">ARgENTUM</div>
        <div class="name">Attune Skincare</div>
        <div class="name">Awake Organics®</div>
        <div class="name">AYAN®</div>
        <div class="name">Ayluna</div>
        <div class="name">Ayumi</div>
      </div>
      <div class="b">
        <div class="startletters">B</div>

        <div class="name">Alchemy Oils</div>
        <div class="name">Alteya Organics</div>
        <div class="name">ananné</div>
        <div class="name">Antipodes</div>
        <div class="name">Apple & Bears</div>
        <div class="name">ARgENTUM</div>
        <div class="name">Attune Skincare</div>
        <div class="name">Awake Organics®</div>
        <div class="name">AYAN®</div>
        <div class="name">Ayluna</div>
        <div class="name">Ayumi</div>
      </div>
      <div class="b">
        <div class="startletters">C</div>

        <div class="name">Alchemy Oils</div>
        <div class="name">Alteya Organics</div>
        <div class="name">ananné</div>
        <div class="name">Antipodes</div>
        <div class="name">Apple & Bears</div>
        <div class="name">ARgENTUM</div>
        <div class="name">Attune Skincare</div>
        <div class="name">Awake Organics®</div>
        <div class="name">AYAN®</div>
        <div class="name">Ayluna</div>
        <div class="name">Ayumi</div>
      </div>
      <div class="b">
        <div class="startletters">D</div>

        <div class="name">Alchemy Oils</div>
        <div class="name">Alteya Organics</div>
        <div class="name">ananné</div>
        <div class="name">Antipodes</div>
        <div class="name">Apple & Bears</div>
        <div class="name">ARgENTUM</div>
        <div class="name">Attune Skincare</div>
        <div class="name">Awake Organics®</div>
        <div class="name">AYAN®</div>
        <div class="name">Ayluna</div>
        <div class="name">Ayumi</div>
      </div>
      <div class="b">
        <div class="startletters">E</div>

        <div class="name">Alchemy Oils</div>
        <div class="name">Alteya Organics</div>
        <div class="name">ananné</div>
        <div class="name">Antipodes</div>
        <div class="name">Apple & Bears</div>
        <div class="name">ARgENTUM</div>
        <div class="name">Attune Skincare</div>
        <div class="name">Awake Organics®</div>
        <div class="name">AYAN®</div>
        <div class="name">Ayluna</div>
        <div class="name">Ayumi</div>
      </div>
      <div class="b">
        <div class="startletters">F</div>

        <div class="name">Alchemy Oils</div>
        <div class="name">Alteya Organics</div>
        <div class="name">ananné</div>
        <div class="name">Antipodes</div>
        <div class="name">Apple & Bears</div>
        <div class="name">ARgENTUM</div>
        <div class="name">Attune Skincare</div>
        <div class="name">Awake Organics®</div>
        <div class="name">AYAN®</div>
        <div class="name">Ayluna</div>
        <div class="name">Ayumi</div>
      </div>
      <div class="b">
        <div class="startletters">G</div>

        <div class="name">Alchemy Oils</div>
        <div class="name">Alteya Organics</div>
        <div class="name">ananné</div>
        <div class="name">Antipodes</div>
        <div class="name">Apple & Bears</div>
        <div class="name">ARgENTUM</div>
        <div class="name">Attune Skincare</div>
        <div class="name">Awake Organics®</div>
        <div class="name">AYAN®</div>
        <div class="name">Ayluna</div>
        <div class="name">Ayumi</div>
      </div>
      <div class="b">
        <div class="startletters">H</div>

        <div class="name">Alchemy Oils</div>
        <div class="name">Alteya Organics</div>
        <div class="name">ananné</div>
        <div class="name">Antipodes</div>
        <div class="name">Apple & Bears</div>
        <div class="name">ARgENTUM</div>
        <div class="name">Attune Skincare</div>
        <div class="name">Awake Organics®</div>
        <div class="name">AYAN®</div>
        <div class="name">Ayluna</div>
        <div class="name">Ayumi</div>
      </div>
      <div class="b">
        <div class="startletters">I</div>

        <div class="name">Alchemy Oils</div>
        <div class="name">Alteya Organics</div>
        <div class="name">ananné</div>
        <div class="name">Antipodes</div>
        <div class="name">Apple & Bears</div>
        <div class="name">ARgENTUM</div>
        <div class="name">Attune Skincare</div>
        <div class="name">Awake Organics®</div>
        <div class="name">AYAN®</div>
        <div class="name">Ayluna</div>
        <div class="name">Ayumi</div>
      </div>
      <div class="b">
        <div class="startletters">J</div>

        <div class="name">Alchemy Oils</div>
        <div class="name">Alteya Organics</div>
        <div class="name">ananné</div>
        <div class="name">Antipodes</div>
        <div class="name">Apple & Bears</div>
        <div class="name">ARgENTUM</div>
        <div class="name">Attune Skincare</div>
        <div class="name">Awake Organics®</div>
        <div class="name">AYAN®</div>
        <div class="name">Ayluna</div>
        <div class="name">Ayumi</div>
      </div>
      <div class="b">
        <div class="startletters">K</div>

        <div class="name">Alchemy Oils</div>
        <div class="name">Alteya Organics</div>
        <div class="name">ananné</div>
        <div class="name">Antipodes</div>
        <div class="name">Apple & Bears</div>
        <div class="name">ARgENTUM</div>
        <div class="name">Attune Skincare</div>
        <div class="name">Awake Organics®</div>
        <div class="name">AYAN®</div>
        <div class="name">Ayluna</div>
        <div class="name">Ayumi</div>
      </div>
      <div class="b">
        <div class="startletters">L</div>

        <div class="name">Alchemy Oils</div>
        <div class="name">Alteya Organics</div>
        <div class="name">ananné</div>
        <div class="name">Antipodes</div>
        <div class="name">Apple & Bears</div>
        <div class="name">ARgENTUM</div>
        <div class="name">Attune Skincare</div>
        <div class="name">Awake Organics®</div>
        <div class="name">AYAN®</div>
        <div class="name">Ayluna</div>
        <div class="name">Ayumi</div>
      </div>
      <div class="b">
        <div class="startletters">M</div>

        <div class="name">Alchemy Oils</div>
        <div class="name">Alteya Organics</div>
        <div class="name">ananné</div>
        <div class="name">Antipodes</div>
        <div class="name">Apple & Bears</div>
        <div class="name">ARgENTUM</div>
        <div class="name">Attune Skincare</div>
        <div class="name">Awake Organics®</div>
        <div class="name">AYAN®</div>
        <div class="name">Ayluna</div>
        <div class="name">Ayumi</div>
      </div>
      <div class="b">
        <div class="startletters">N</div>

        <div class="name">Alchemy Oils</div>
        <div class="name">Alteya Organics</div>
        <div class="name">ananné</div>
        <div class="name">Antipodes</div>
        <div class="name">Apple & Bears</div>
        <div class="name">ARgENTUM</div>
        <div class="name">Attune Skincare</div>
        <div class="name">Awake Organics®</div>
        <div class="name">AYAN®</div>
        <div class="name">Ayluna</div>
        <div class="name">Ayumi</div>
      </div>
      <div class="b">
        <div class="startletters">O</div>

        <div class="name">Alchemy Oils</div>
        <div class="name">Alteya Organics</div>
        <div class="name">ananné</div>
        <div class="name">Antipodes</div>
        <div class="name">Apple & Bears</div>
        <div class="name">ARgENTUM</div>
        <div class="name">Attune Skincare</div>
        <div class="name">Awake Organics®</div>
        <div class="name">AYAN®</div>
        <div class="name">Ayluna</div>
        <div class="name">Ayumi</div>
      </div>
      <div class="b">
        <div class="startletters">P</div>

        <div class="name">Alchemy Oils</div>
        <div class="name">Alteya Organics</div>
        <div class="name">ananné</div>
        <div class="name">Antipodes</div>
        <div class="name">Apple & Bears</div>
        <div class="name">ARgENTUM</div>
        <div class="name">Attune Skincare</div>
        <div class="name">Awake Organics®</div>
        <div class="name">AYAN®</div>
        <div class="name">Ayluna</div>
        <div class="name">Ayumi</div>
      </div>
      <div class="b">
        <div class="startletters">Q</div>

        <div class="name">Alchemy Oils</div>
        <div class="name">Alteya Organics</div>
        <div class="name">ananné</div>
        <div class="name">Antipodes</div>
        <div class="name">Apple & Bears</div>
        <div class="name">ARgENTUM</div>
        <div class="name">Attune Skincare</div>
        <div class="name">Awake Organics®</div>
        <div class="name">AYAN®</div>
        <div class="name">Ayluna</div>
        <div class="name">Ayumi</div>
      </div>
      <div class="b">
        <div class="startletters">R</div>

        <div class="name">Alchemy Oils</div>
        <div class="name">Alteya Organics</div>
        <div class="name">ananné</div>
        <div class="name">Antipodes</div>
        <div class="name">Apple & Bears</div>
        <div class="name">ARgENTUM</div>
        <div class="name">Attune Skincare</div>
        <div class="name">Awake Organics®</div>
        <div class="name">AYAN®</div>
        <div class="name">Ayluna</div>
        <div class="name">Ayumi</div>
      </div>
      <div class="b">
        <div class="startletters">S</div>

        <div class="name">Alchemy Oils</div>
        <div class="name">Alteya Organics</div>
        <div class="name">ananné</div>
        <div class="name">Antipodes</div>
        <div class="name">Apple & Bears</div>
        <div class="name">ARgENTUM</div>
        <div class="name">Attune Skincare</div>
        <div class="name">Awake Organics®</div>
        <div class="name">AYAN®</div>
        <div class="name">Ayluna</div>
        <div class="name">Ayumi</div>
      </div>
      <div class="b">
        <div class="startletters">T</div>

        <div class="name">Alchemy Oils</div>
        <div class="name">Alteya Organics</div>
        <div class="name">ananné</div>
        <div class="name">Antipodes</div>
        <div class="name">Apple & Bears</div>
        <div class="name">ARgENTUM</div>
        <div class="name">Attune Skincare</div>
        <div class="name">Awake Organics®</div>
        <div class="name">AYAN®</div>
        <div class="name">Ayluna</div>
        <div class="name">Ayumi</div>
      </div>
      <div class="b">
        <div class="startletters">U</div>

        <div class="name">Alchemy Oils</div>
        <div class="name">Alteya Organics</div>
        <div class="name">ananné</div>
        <div class="name">Antipodes</div>
        <div class="name">Apple & Bears</div>
        <div class="name">ARgENTUM</div>
        <div class="name">Attune Skincare</div>
        <div class="name">Awake Organics®</div>
        <div class="name">AYAN®</div>
        <div class="name">Ayluna</div>
        <div class="name">Ayumi</div>
      </div>
      <div class="b">
        <div class="startletters">V</div>

        <div class="name">Alchemy Oils</div>
        <div class="name">Alteya Organics</div>
        <div class="name">ananné</div>
        <div class="name">Antipodes</div>
        <div class="name">Apple & Bears</div>
        <div class="name">ARgENTUM</div>
        <div class="name">Attune Skincare</div>
        <div class="name">Awake Organics®</div>
        <div class="name">AYAN®</div>
        <div class="name">Ayluna</div>
        <div class="name">Ayumi</div>
      </div>
      <div class="b">
        <div class="startletters">W</div>

        <div class="name">Alchemy Oils</div>
        <div class="name">Alteya Organics</div>
        <div class="name">ananné</div>
        <div class="name">Antipodes</div>
        <div class="name">Apple & Bears</div>
        <div class="name">ARgENTUM</div>
        <div class="name">Attune Skincare</div>
        <div class="name">Awake Organics®</div>
        <div class="name">AYAN®</div>
        <div class="name">Ayluna</div>
        <div class="name">Ayumi</div>
      </div>
      <div class="b">
        <div class="startletters">X</div>

        <div class="name">Alchemy Oils</div>
        <div class="name">Alteya Organics</div>
        <div class="name">ananné</div>
        <div class="name">Antipodes</div>
        <div class="name">Apple & Bears</div>
        <div class="name">ARgENTUM</div>
        <div class="name">Attune Skincare</div>
        <div class="name">Awake Organics®</div>
        <div class="name">AYAN®</div>
        <div class="name">Ayluna</div>
        <div class="name">Ayumi</div>
      </div>
      <div class="b">
        <div class="startletters">Y</div>

        <div class="name">Alchemy Oils</div>
        <div class="name">Alteya Organics</div>
        <div class="name">ananné</div>
        <div class="name">Antipodes</div>
        <div class="name">Apple & Bears</div>
        <div class="name">ARgENTUM</div>
        <div class="name">Attune Skincare</div>
        <div class="name">Awake Organics®</div>
        <div class="name">AYAN®</div>
        <div class="name">Ayluna</div>
        <div class="name">Ayumi</div>
      </div>
      <div class="b">
        <div class="startletters">Z</div>

        <div class="name">Alchemy Oils</div>
        <div class="name">Alteya Organics</div>
        <div class="name">ananné</div>
        <div class="name">Antipodes</div>
        <div class="name">Apple & Bears</div>
        <div class="name">ARgENTUM</div>
        <div class="name">Attune Skincare</div>
        <div class="name">Awake Organics®</div>
        <div class="name">AYAN®</div>
        <div class="name">Ayluna</div>
        <div class="name">Ayumi</div>
      </div>
    </div>
  </body>
</html>

<script type="module">
  import navbar from "../js/navbar.js";

  let div = document.createElement("div");

  div.innerHTML = navbar();
  document.body.prepend(div);
</script>
<script type="module">
  import footer from "../js/footer.js";

  let div = document.createElement("div");

  div.innerHTML = footer();
  document.body.append(div);
</script>
