<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style/hair.css" />
    <link rel="stylesheet" href="../style/navbar.css" />
    <link rel="stylesheet" href="../style/footer.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="main">
      <div class="one">
        <div class="productsname">
          <div>Products</div>
          <div><b>Hair</b></div>
          <div>Colours</div>
          <div>Conditioners</div>
          <div>Shampoos</div>
          <div>Styling & Treatments</div>
          <div>Travel Sizes</div>
          <div>Treatments</div>
          <div>Volume</div>
        </div>
      </div>
      <div class="two">
        <div class="insidetwo">
          <img
            src="https://www.lovelula.com/spree/taxons/headers/7235/original/haircare.jpg?1547741714"
            alt=""
          />
          <div class="linecontainer">
            <div class="line"></div>
            <div class="linetext">Natural and Organic Hair Care Products</div>
            <div class="line"></div>
          </div>
          <br />
          <div class="details">
            Become a natural show-off! Your hair is the most visible expression
            of your inner health. Natural and organic hair products are both
            luxurious and effective. Pure ingredients infuse vitality, boost
            shine, add volume, smooth and replenish. Face the world with your
            head held high.
          </div>
          <br />
          <div class="dotted"></div>
        </div>
      </div>
    </div>
  </body>
</html>

<script type="module">
  import navbar from "../js/navbar.js";

  let div = document.createElement("div");

  div.innerHTML = navbar();
  document.body.prepend(div);
</script>
<script type="module">
  import footer from "../js/footer.js";

  let div = document.createElement("div");

  div.innerHTML = footer();
  document.body.append(div);
</script>
